@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oxygen:wght@300;700&family=Poppins:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oxygen:wght@300;700&family=Poppins:ital,wght@0,600;1,600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}
.header {
  background-image: url(./images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  padding: 0 50px 0 50px;
}
h1, h2, h3{
  
font-family: 'Poppins', sans-serif;
}

.header header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-top: 40px;
  /* padding-left: 20px; */
}
.header header img {
  width: 100px;
}
.header header button {
  background-color: #ffffff;
  padding: 15px 50px 15px 50px;
  border-radius: 20px;
  border: 0;
  font-weight: bold;
}
.header .first-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.h-left-side {
  width: 40%;
}
.h-left-side h1 {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 40px;
}
.h-left-side p {
  /* line-height: 25px; */
  margin-bottom: 40px;
}
.h-left-side button,
.ready button {
  background-color: hsl(322, 100%, 66%);
  color: #ffffff;
  padding: 15px 50px 15px 50px;
  border-radius: 25px;
  border: 0;
}
.h-right-side {
  width: 50%;
}
.h-right-side img {
  width: 100%;
}
main {
  margin-top: 60px;
  /* margin-bottom: 100px; */
}
.flowing,
.grow-t,
.your-users {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding: 30px 0px 0 50px;
  box-shadow: 1px 1px 9px #ccc;
}
.grow-t-left,
.flowing-right,
.your-users-left {
  /* width: 35%; */
  width: 36.5%;
}
.grow-t-left h2,
.flowing-right h2,
.your-users-left h2,
.ready h2 {
  margin-bottom: 20px;
}
.grow-t-left p,
.flowing-right p,
.your-users-left p {
  line-height: 20px;
  opacity: 0.5;
}
.grow-t-right {
  width: 40%;
  margin-left: 10%;
}
.grow-t-right img {
  width: 100%;
}
.flowing-left,
.your-users-right {
  width: 40%;
}
.flowing-left img,
.your-users-right img {
  width: 100%;
}
.your-users-right img {
  padding-top: 30px;
}
main {
  position: relative;
  padding-bottom: 150px;
}
.ready {
  position: absolute;
  bottom: -60px;
  right: 30%;
  background-color: #ffffff;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 5px #ccc;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.your-users {
  /* margin-bottom: 50px; */
}
/* .flowing-right, .your-users-left{
    width: 50%;
} */
.footer {
  background-color: hsl(192, 100%, 9%);
  color: #ffffff;
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 40px;
  /* background-color: hsl(208, 11%, 55%); */
}
.footer img{
  margin-bottom: 20px;
}
.foot {
  display: flex;
  justify-content: space-between;
}
.address {
  display: flex;
  margin-bottom: 20px;
}
.address img {
  width: 10px;
  height: 15px;
  margin-right: 15px;
}
.footer .logo{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
}
.footer ul {
  list-style-type: none;
}
.footer ul li{
  margin-bottom: 10px;
}
.footer ul a {
  text-decoration: none;
  color: #ffffff;
}
.foot_2 ul {
}
.foot_4 p{
  margin-top: 150px;
}
@media (max-width: 575px) {
  .header{
    background-image: url(./images/bg-hero-mobile.svg);
    padding: 0;
  }
  
.header header {
  padding: 35px 20px;
}
.header header button {
  padding: 10px 30px;
}
 
  .flowing,
  .grow-t,
  .your-users,
  .foot {
    display: block;
    width: 90%;
  } 
  
  .header .first-sect{
    display: block;
    width: 100%;
    padding: 0 30px 0 30px;
  }
  .h-left-side h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .first-sect .h-left-side,
  .first-sect .h-right-side,
  .grow-t-left,
  .grow-t-right,
  .flowing-right,
  .flowing-left,
  .your-users-left,
  .your-users-right  {
    width: 100%;
    text-align: center;
  }
  .h-left-side{
    margin-bottom: 20px;
  }
  .grow-t-right{
    margin: auto;
  }
  .your-users, .grow-t{
    display: flex;
    flex-direction: column-reverse;
  }
  .ready {
    width: 90%;
    right: 5%;
  }
  .ready h3{
    margin-bottom: 20px;
  }
  .foot_4{
    text-align: center;
  }
  .foot_4 p{
    margin-top: 10px;
  }
}
